.form-control:focus{
    border-color:#864FBA;
    box-shadow: none; -webkit-box-shadow: none;
}

@font-face {
    font-family: inter;
    src: url(./Assets/inter.ttf);
}

label{
    font-family: inter;
    font-size: 18px;
}



.form-control{
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}

.uglydiv{
    padding: "30px";
    text-align: "center";
    overflow: "hidden";
    float: "center";
    background-color: gray;
}

.container{
    padding: 30px;
    border: 2px solid #000000;
    border-width: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 25px;
    overflow: auto;
}

.containerinline{
    float: "center";
    text-align: "center";
    display: inline-block;
    border: 1px solid #000000;
    border-width: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
}

.description{
    height: 300px;
    padding: 30px;
}

textarea{
    padding-left: 10px;
}

body{
    background-color: rgba(228, 255, 255, 0.5);;
}

html{
    background: rgba(228, 255, 255, 0.5);
}

input[type="radio"]{
    background-color: #fff;
    margin-right: 5px;
    margin-left: 15px;
    font: inherit;
    color: #F95828;
    border-color: #F95828;
    width: 1em;
    height: 1em;
    border: 0.3em solid currentColor;
    border-radius: 50%;
}


.btn-primary{
    font-size: 14px;
    margin: auto;
    display: block;
    font-family: inter;
    background: #F95828;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}

#bottomPadding{
    margin-top: 20%;
}

#mainContainer{
    margin: auto;
    margin-top: 5%;
    width: 40%;
}

